<h1 mat-dialog-title>Add poll</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Question</mat-label>
      <input matInput placeholder="Question" formControlName="question" >
    </mat-form-field>
</form>
</div>
  <div [style]="'display: flex; column-gap: 10px'">
    
    <button  style ="margin: left 8px;" mat-raised-button color="primary" mat-dialog-close (click)="addquestion()">Save</button>
    <button  style mat-raised-button color="warn" mat-dialog-close>Close</button>
  </div>
