
<div class="vote-container">
  <h1 id="example-radio-group-label">{{question}}</h1>
  <mat-radio-group 
    aria-labelledby="example-radio-group-label"
    class="example-radio-group votes"
    [(ngModel)]="vote">
    <mat-radio-button class="example-radio-button" *ngFor="let note of notes" [value]="note">
      {{note}}
    </mat-radio-button>
  </mat-radio-group>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Comment</mat-label>
      <input matInput placeholder="Comment" name="pName" [(ngModel)]="comment">
    </mat-form-field>
  </p>
  <div [style]="'display: flex; column-gap: 10px'">
    
    <button  style ="margin: left 8px;" mat-raised-button color="primary"  (click)="saveVote()">Save</button>
    <button  style mat-raised-button color="warn" (click)="back()">Close</button>
  </div>
</div>


