.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: center;
}

.example-radio-button {
  margin: 10px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 12px;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.vote-container {
  height: 100%;
  width: 100%;
  margin: 0;

  display: grid;
  align-items: center;
  justify-items: center;
}