
<label id="example-radio-group-label">matches</label>
<mat-radio-group 
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let note of note" [value]="note">
    {{note}}
  </mat-radio-button>
</mat-radio-group>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Comment</mat-label>
    <input matInput placeholder="Comment" name="pName" ngModel>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
<div >
  <button  style mat-raised-button color="warn" routerLink="/dashboard">Close</button>
  <button  style ="margin: left 8px;" mat-raised-button color="orange" routerLink="/dashboard"  >Save</button>
</div>


