<label id="example-radio-group-label">   Give a note</label>
<mat-radio-group #productsForm="ngForm">
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let note of note" [value]="note" name="pNote" ngModel>
    {{note}}
  </mat-radio-button>
</mat-radio-group>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Comment</mat-label>
    <input matInput placeholder="Placeholder" name="pName" ngModel>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</p>
  <div class="example-button-row">
    <button mat-button>  Submit</button>
  </div>


