<mat-toolbar color="primary">
  <span> Dashboard </span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Add question</button>
</mat-toolbar>
<div class="dashboard">
  <div class="dashboard__body">
    <div *ngFor="let poll of polls" 
          [class.mat-elevation-z4]="true" class="dashboard__body__card">
      <span class="title"> {{ poll.title }}</span>
      <span class="question"> {{ poll.question }}</span>
      <button (click)="goToVote(poll)" [class.mat-elevation-z4]="true">VOTE</button>
      <span class="date"> {{ poll.date | date: 'mediumDate' }}</span>
    </div>
  </div>


</div>

  
